@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_LayoutWithoutNavBar";
}
<div class="welcome-container">
    <div class="logo-container">
        <img loading="lazy" src="../images/elderEaseLogo.svg" class="logo-img" />
        <div class="app-name">ElderEase</div>
    </div>
    <div class="welcome-content">
        <div class="app-section">
            <div class="app-name-large">Elder Ease</div>
            <div class="welcome-text">
                Where volunteers and elders unite seamlessly,
                offering support that's both heartfelt and flexible!
            </div>
            <div class="portals">
                <button class="portal-div" id="clientPortal">Client Portal</button>
                <button class="portal-div" id="providerPortal">Provider Portal</button>
            </div>
        </div>
        <div class="app-img-container">
            <img loading="lazy" src="/images/welcomeImage.webp" class="app-img" />
        </div>
    </div>
    <div class="services-container">
        <img loading="lazy" src="/images/elders.jpg" class="elders-banner" />
        <div class="services-section">
            <h2 class="services-title">Services We Offer</h2>
            <ul class="services-list">
                <li>Home Care Assistance</li>
                <li>Medical Consultation</li>
                <li>Tailored Assistance</li>
                <li>Empathy and Connection</li>
                <li>24/7 Emergency Support</li>
            </ul>
        </div>
    </div>
</div>
@* <div class="welcome-container">
    <div class="welcome-content">
        <div class="div-3">
            <div class="logo-container">
                <img loading="lazy" src="../images/elderEaseLogo.svg" class="logo-img" />
                <div class="app-name">ElderEase</div>
            </div>
        </div>
        <div class="div-8">
            <div class="div-9">
                <div class="column">
                    <div class="div-10">
                        <div class="div-11">Elder Ease</div>
                        <div class="div-12">
                            <div class="div-13">
                                <div class="welcome-portal" id="clientPortal">Client Portal</div>
                            </div>
                            <div class="welcome-portal" id="providerPortal">Provider Portal</div>
                        </div>
                    </div>
                </div>
                <div class="column-2">
                    <img loading="lazy"
                         src="/images/welcomeImage.webp"
                         class="img-2" />
                </div>
            </div>
        </div>
        <div class="div-16">
            <div class="div-17">
                <div class="div-18">Updates right to your Inbox</div>
                <div class="div-19">
                    <div class="div-20">Email Address</div>
                    <div class="div-21"><div class="div-22">Send</div></div>
                </div>
                <div class="div-23">
                    <div class="div-24">Privacy policy</div>
                    <div class="div-25">Terms of use</div>
                </div>
            </div>
            <div class="div-26">
                <div class="div-27">
                    <div class="column-3">
                        <div class="div-28">
                            <div class="div-29">Our story</div>
                            <div class="div-30">FAQ</div>
                            <div class="div-31">Contact</div>
                        </div>
                    </div>
                    <div class="column-4">
                        <div class="div-32">
                            <div class="div-33">Services</div>
                            <div class="div-34">Flexible Contribution Options</div>
                            <div class="div-35">Tailored Assistance</div>
                            <div class="div-36">Empathy and Connection</div>
                            <div class="div-37">Innovative Matching Technology</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 *@