@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_LayoutWithoutNavBar";
}
<div class="welcome-container">
    <div class="logo-container">
        <img loading="lazy" src="../images/elderEaseLogo.svg" class="logo-img" />
        <div class="app-name">ElderEase</div>
    </div>
    <div class="welcome-content">
        <div class="app-section">
            <div class="app-name-large">Elder Ease</div>
            <div class="welcome-text">
                Where volunteers and elders unite seamlessly,
                offering support that's both heartfelt and flexible!
            </div>
            <div class="portals">
                <button class="portal-div" id="clientPortal">Client Portal</button>
                <button class="portal-div" id="providerPortal">Provider Portal</button>
            </div>
        </div>
        <div class="app-img-container">
            <img loading="lazy" src="/images/welcomeImage.webp" class="app-img" />
        </div>
    </div>
    <div class="services-container">
        <img loading="lazy" src="/images/elders.jpg" class="elders-banner" />
        <div class="services-section">
            <h2 class="services-title">Services We Offer</h2>
            <ul class="services-list">
                <li>Home Care Assistance</li>
                <li>Medical Consultation</li>
                <li>Tailored Assistance</li>
                <li>Empathy and Connection</li>
                <li>24/7 Emergency Support</li>
            </ul>
        </div>
    </div>
</div>