@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_LayoutWithoutNavBar";
}

<div class="div">
    <div class="div-2">
        <div class="div-3">
            <div class="div-4">
                <img loading="lazy"
                     src="https://cdn.builder.io/api/v1/image/assets/TEMP/b85ee137b5000afbed3c18c20c5760d5f149b4ae4a02eb7d8c40e3ab8bafbbf9?"
                     class="img" />
                <div class="div-5">Elderease</div>
            </div>
            <div class="div-6"><div class="div-7"></div></div>
        </div>
        <div class="div-8">
            <div class="div-9">
                <div class="column">
                    <div class="div-10">
                        <div class="div-11">Elder Ease</div>
                        <div class="div-12">
                            <div class="div-13">
                                <div class="welcome-portal" id="clientPortal">Client Portal</div>
                            </div>
                            <div class="welcome-portal" id="providerPortal">Provider Portal</div>
                        </div>
                    </div>
                </div>
                <div class="column-2">
                    <img loading="lazy"
                         src="/images/welcomeImage.webp"
                         class="img-2" />
                </div>
            </div>
        </div>
        <div class="div-16">
            <div class="div-17">
                <div class="div-18">Updates right to your Inbox</div>
                <div class="div-19">
                    <div class="div-20">Email Address</div>
                    <div class="div-21"><div class="div-22">Send</div></div>
                </div>
                <div class="div-23">
                    <div class="div-24">Privacy policy</div>
                    <div class="div-25">Terms of use</div>
                </div>
            </div>
            <div class="div-26">
                <div class="div-27">
                    <div class="column-3">
                        <div class="div-28">
                            <div class="div-29">Our story</div>
                            <div class="div-30">FAQ</div>
                            <div class="div-31">Contact</div>
                        </div>
                    </div>
                    <div class="column-4">
                        <div class="div-32">
                            <div class="div-33">Services</div>
                            <div class="div-34">Flexible Contribution Options</div>
                            <div class="div-35">Tailored Assistance</div>
                            <div class="div-36">Empathy and Connection</div>
                            <div class="div-37">Innovative Matching Technology</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
